@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

h1 {
  display: block;
  text-align: center;
  font-size: 36px;
  font-weight: 500;
  
}

input {
  color: rgb(122, 50, 50)
}

textarea {
  color: black;
}

.OutDisplay {
  background-color: rgb(0, 0, 0);
  margin-left: 7rem;
  margin-right: 7rem;
}
.Buttons {
  margin-left: auto; 
  margin-right: 0;
  width: 30%;
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  justify-content: space-between;
  flex-flow: row;
  
}
.CreateButton {
  position: fixed;right:0;top:0;
  background-color: rgb(2, 43, 77);
  margin-right: 5px;
  color: rgb(255, 255, 255);
  padding: 15px 32px;
  border-radius: 8px;
}
.CreateButton:hover {
  position: fixed;right:0;top:0;
  background-color: rgb(3, 82, 146);
  margin-right: 5px;
  color: rgb(255, 255, 255);
  padding: 15px 32px;
  border-radius: 8px;
  
}
.editButton {
  justify-content: right;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 7px 14px;
  border-radius: 8px;
}
.editButton:hover {
  justify-content: right;
  background-color: rgb(255, 255, 255);
  color: rgb(43, 41, 41);
  padding: 7px 14px;
  border-radius: 8px;
}
#saveButton {
  background-color: rgb(108, 202, 20);
  color: rgb(255, 255, 255);
  padding: 7px 14px;
  
}
#cancleButton {
  text-align: center;
  background-color: rgb(64, 65, 64);
  color: rgb(255, 255, 255);
  padding: 7px 14px;
  
}

#publishButton {
  justify-content: right;
  background-color: rgb(23, 221, 56);
  color: rgb(255, 255, 255);
  padding: 7px 14px;
}

.publishButton {
  justify-content: right;
  background-color: rgb(23, 221, 56);
  color: rgb(255, 255, 255);
  padding: 7px 14px;
  border-radius: 8px;
}
#deleteButton,.deleteButton {
  justify-content: right;
  background-color: rgb(245, 74, 6);
  color: rgb(255, 255, 255);
  padding: 7px 14px;
  border-radius: 8px;
}


.Form {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  border-color: red;
  background-color: rgb(92, 92, 92);
  margin-top: 25px;
  border-radius: 4px;
}
.formButtonSet {
  text-align: center;
  vertical-align: middle;
}
form {
  margin-left: 5rem;
  margin-right: 5rem;
  display: flex;
  flex-direction: column;
}
input {
  color: black;
  display: flex;
  width: 100%;
}

label {
  text-align: left;
  font-size: x-large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;;
}

#cardElement {
  overflow:hidden;
  display: block;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  border-color: red;
  background-color: rgb(92, 92, 92);
  margin-top: 25px;
  border-radius: 4px;
}

#title {
  margin: auto;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: larger;
  font-weight: 500;
}

#created_at {
  margin: auto;
  text-align: right;
  font-size: small;
}

