@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

h1 {
  display: block;
  text-align: center;
  
}

input {
  color: rgb(122, 50, 50)
}

textarea {
  color: black;
}
.CreateButton {
  background-color: rgb(2, 43, 77);
  margin-right: 5px;
  color: rgb(255, 255, 255);
  padding: 15px 32px;
  border-radius: 8px;
  
}
.CreateButton:hover {
  background-color: rgb(3, 82, 146);
  margin-right: 5px;
  color: rgb(255, 255, 255);
  padding: 15px 32px;
  border-radius: 8px;
  
}
.editButton {
  justify-content: left;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 71px 14px;
  border-radius: 8px;
}
#cardElement {
  display: block;
  border-color: red;
  background-color: gray;
  margin-top: 25px
}